#element{
    padding: 10px 20px;
    margin-top: 30px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.element{
    height: fit-content;
    display: flex;
    justify-content: space-around !important;
    align-items: center;
}
.element-img{
    width: 55px;
    height: 55px;
}
.details{
    margin: 0 20px 0 20px;
}
.name{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.measurement{
    color: white;
    font-size: 15px;
    font-weight: 400;
}
@media (max-width: 700px) {
    .element-img{
        width: auto;
        height: 40px;
    }
    .name{
        font-size: 20px;
        font-weight: 700;
    }
    .measurement{
        font-size: 10px;
    }
    .details{
        margin: 0 10px 0 10px;
    }
    #element{
        padding: 10px;
        margin-top: 20px;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
    }
}