*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-emphasis: none;
  text-decoration: none;
  list-style: none;
}

body{
  background: url(../src/assets/pexels-bess-hamiti-83687-36487.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}